section  {
    background: url(../images/classical-guitar-player-header.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.subtitle, .title {
    color: whitesmoke;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
main{
    background: url(../images/barline2.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#userSelectBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}
.notes img{
    width: 50px;
    animation: notes 7s linear infinite;
}
.notes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
@keyframes notes{
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-70vh);
        opacity: 0;
    }
}
.notes img:nth-child(1){
    animation-delay: 2s;
}
.notes img:nth-child(2){
    animation-delay: 1s;
}
.notes img:nth-child(3){
    animation-delay: 3s;
}
.notes img:nth-child(4){
    animation-delay: 4.5s;
}
.notes img:nth-child(5){
    animation-delay: 3s;
}
.notes img:nth-child(6){
    animation-delay: 6s;
}
.notes img:nth-child(7){
    animation-delay: 7s;
}

#scapiobjid1 {
    display: none;
}
#scapiobjid2 {
    display: none;
}
#scapiobjid3 {
    display: none;
}
#scapiobjid4 {
    display: none;
}
#scapiobjid5 {
    display: none;
}
#scapiobjid6 {
    display: none;
}
#scapiobjid7 {
    display: none;
}
#scapiobjid8 {
    display: none;
}
#scapiobjid9 {
    display: none;
}
#scapiobjid10 {
    display: none;
}
#scapiobjid11 {
    display: none;
}
#scapiobjid12 {
    display: none;
}
